<% include header%>
<div class="login">
    <form method="post">
    <div>
        <img src="/images/1.jpg" alt="">
    </div>

        <input type="text" name="name" placeholder="user"></br>
        <input type="password" name="password" placeholder="password"></br>

    <div></div>
    <div>
        <input type="submit" value="Login">
    </div>
    </form>
</div>
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<% include footer%>