<%- include header %>

<div class="reg">
    <div></div>
    <form method="post" class="signup">
        <span class="ribben">CREATE AN ACCOUNT</span>
        <p>User : <span class="dot"> </span></p>
        <input type="text" name="name" placeholder="user" required="">
        <p>Email : <span class="dot"> </span></p>
        <input type="text" name="email" placeholder="example@email.com" required="">
        <p>Choose Password : <span class="dot"> </span></p>
        <input type="password" name="password" placeholder="" required="">
        <p>Confirm Password <span class="dot"> </span></p>
        <input type="password" name="password-repeat" placeholder="" required="">
        <input type="submit" value="REGISTER NOW!">
    </form>
</div>
<%- include footer %>