.archive{
    width: 30%;
    height: 500px;
    margin: 50px auto;
    list-style:none;
    line-height:28px;
}
.archive h3{margin:0.5em 0;}
.archive time{float:left;color:#999999;margin-right:1.2em;}