@charset "gb2312";
/* CSS Document */
.moodlist { margin: auto; width: 100%; overflow: hidden }
/* --------------------博客列表-------------------- */
h1.t_nav span{ float:right; color:#999}
h1.t_nav { border-bottom: #F1F1F1 1px solid; font-size: 12px; font-weight: normal; line-height: 40px; height: 40px;margin:20px auto;width:1000px }
h1.t_nav a { width: 100px; display: block; text-align: center; color: #fff; float: left }
.n1 { background: #5EA51B; }
.n2 { background: #8BBF5D; }
.bloglist { width: 1000px; margin: 0 auto; background: url(../images/r_title_bg.jpg) repeat-y 764px 0;overflow: hidden; }
.arrow_box { background: #f8f8f8; box-shadow: 0px 1px 0px rgba(255,255,255,.1), inset 0px 1px 1px rgba(214, 214, 214, 0.7); width: 730px; border-radius: 6px; position: relative; padding: 20px 0; margin: 20px 0; }
.arrow_box img { width: 150px; float: left; margin: 0 20px 0 20px; }
.arrow_box p { line-height: 24px; padding: 0 20px 20px }
.arrow_box::before { content: ""; width: 0px; height: 0px; border-style: solid; border-width: 0px 0 20px 22px; border-color: transparent transparent transparent #fff; position: absolute; left: 730px; top: 23px; }/* 三角形 */
.arrow_box::after { content: ""; width: 10px; height: 10px; border-radius: 50%; position: absolute; left: 758px; top: 16px; background: #CCCCCE; border: 2px solid #fff; transition: all 0.5s; }/* 圆形 */
.arrow_box:hover::before { border-color: transparent transparent transparent #CECCCD }/* 三角形 */
.arrow_box:hover::after { border: #fff 2px solid; background: #5EA51B }/* 圆形 */
.arrow_box:hover { background: #f4f2f2; color: #333; text-shadow: #f7f7f7 1px 1px 1px }
.dateview { position: absolute; left: 788px; top: 20px; width: 125px; line-height: 30px; background: #5EA51B; border-radius: 0px 40px; text-align: center; color: #fff }
.page { margin: 20px 0; text-align: center; width: 100%; overflow: hidden; }
.page a b { color: #999; }
.page>b, .page a { margin: 0 2px; height: 26px; line-height: 26px; border-radius: 50%; width: 26px; text-align: center; display: inline-block }
.page a { margin: 0 2px; height: 26px; line-height: 26px; border-radius: 50%; width: 26px; text-align: center; display: inline-block }/* 针对IE6 */
.page>b, .page a:hover { background: #333; color: #FFF; }
.page a { color: #F33; border: #999 1px solid; }
.sy{overflow: hidden;}
*html { background-image: url(about:blank); background-attachment: fixed; }/*解决IE6下滚动抖动的问题*/
#tbox { width: 54px; float: right; position: fixed; right: 50px; bottom: 15px; _position: absolute; _bottom: auto; _top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop, 10)||0)-(parseInt(this.currentStyle.marginBottom, 10)||0)));
    _margin-bottom: 15px; }/*解决IE6下不兼容 position:fixed 的问题*/
#togbook, #gotop { width: 54px; height: 56px; display: block; background:url(../images/icons.png) no-repeat  #111 ;box-shadow: 0px 1px 0px rgba(255,255,255,.1), inset 0px 1px 1px rgba(0,0,0,.7); border-radius: 6px;}
#togbook { margin: 5px 0 ;background-position:10px -407px;}
#gotop {background-position:12px -365px;}
#togbook:hover, #gotop:hover { opacity: 0.5 }